.App{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, rgba(73,165,191,1) 0%, rgba(117,189,209,1) 22%, rgba(144,217,235,1) 51%, rgba(117,189,209,1) 81%, rgba(73,165,191,1) 100%);
    display: grid;
    place-items: center;
}

